<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="../static/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="../static/css/responsive.css">
    {% block style %}{% endblock %}
</head>
<body>
    <header id="header" class="top-head">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 left-rs">

                        <div class="navbar-header">
                            <a href="index.html" class="navbar-brand"><img src="../static/images/logoapple.png" alt=""/></a>

                            <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            </div>
                        <form class="navbar-form navbar-left web-sh">
                            <div class="form">
                                <input type="text" class="form-control" placeholder="Search for products or companies">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="right-nav">
                            <div class="login-sr">
                                <div class="login-signup">
                                    <ul>
                                        <li><a href="#">Login</a></li>
                                        <li><a class="custom-b" href="#">Sign up</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-b hidden-xs">
                                <div class="nav-box">
                                    <ul>
                                        <li><a href="/productpage">Productpage</a></li>
                                        <li><a href="/profile">Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.container-fluid -->
        </nav>
    </header>
    {% block body %}{% endblock %}


    <footer>
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-top clearfix">
                        <h2>Start a free
                            account today
                        </h2>

                    </div>
                    <div class="footer-link-box clearfix">
                        <div class="col-md-6 col-sm-6">
                            <div class="left-f-box">
                                <div class="col-sm-4">
                                    <h2>SELL ON chamb</h2>
                                    <ul>
                                        <li><a href="#">Create account</a></li>
                                        <li><a href="/category">Category</a></li>
                                        <li><a href="/pricing">Pricing</a></li>
                                        <li><a href="#">FAQ for Suppliers</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h2>BUY ON chamb</h2>
                                    <ul>
                                        <li><a href="#">Create account</a></li>
                                        <li><a href="#">How it works buyers</a></li>
                                        <li><a href="#">Categories</a></li>
                                        <li><a href="#">FAQ for buyers</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h2>COMPANY</h2>
                                    <ul>
                                        <li><a href="about-us.html">About chamb</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Press</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Terms of use</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="right-f-box">
                                <h2>INDUSTRIES</h2>
                                <ul class="col-sm-4">
                                    <li><a href="#">Textiles</a></li>
                                    <li><a href="#">Furniture</a></li>
                                    <li><a href="#">Leather</a></li>
                                    <li><a href="#">Agriculture</a></li>
                                    <li><a href="#">Food & drinks</a></li>
                                </ul>
                                <ul class="col-sm-4">
                                    <li><a href="#">Office</a></li>
                                    <li><a href="#">Decoratives</a></li>
                                    <li><a href="#">Electronics</a></li>
                                    <li><a href="#">Machines</a></li>
                                    <li><a href="#">Building</a></li>
                                </ul>
                                <ul class="col-sm-4">
                                    <li><a href="#">Cosmetics</a></li>
                                    <li><a href="#">Health</a></li>
                                    <li><a href="#">Jewelry</a></li>
                                    <li><a href="#">See all here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--main Scripts-->
        <script src="static/Scripts/jquery-1.12.4.min.js"></script>
        <!--bootstrap Scripts-->
        <script src="static/Scripts/bootstrap.min.js"></script>
        <script src="static/Scripts/bootstrap-select.min.js"></script>
        <script src="static/Scripts/slick.min.js"></script>
        <script src="static/Scripts/wow.min.js"></script>
        <!--custom Scripts-->
        <script src="static/Scripts/custom.js"></script>
</body>
</html>