{% extends 'base.html' %}
{% block title %}
Index
{% endblock %}
{% block body %}
<div class="modal fade lug" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="#"><img src="../static/images/flag-up-1.png" alt=""/> United States</a></li>
                    <li><a href="#"><img src="../static/images/flag-up-2.png" alt=""/> France </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="sidebar" class="top-nav">
    <ul id="sidebar-nav" class="sidebar-nav">
        <li><a href="#">Help</a></li>
        <li><a href="howitworks.html">How it works</a></li>
        <li><a href="#">chamb for Business</a></li>
    </ul>
</div>

<div class="start-free-box">
    <div class="container">

        <div class="row">
            <div class="bg_img_right"><img src="../static/images/bg_img1.png" alt="#"/></div>
            <div class="main-start-box">
                <div class="container">
                    <div class="supplier clearfix">
                        <div class="col-md-5 col-sm-6">
                            <div class="left-supplier">
                                <h1>Добро пожаловать в магазин техники!</h1>
                                <p> Мы
                                    предлагаем лучшие технические новинки, чтобы удовлетворить ваши потребности в
                                    инновационных решениях.</p>

                                <a href="#">Create a supplier account</a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-6">
                            <div class="right-supplier">
                                <img class="img-responsive" src="../static/images/supplier-pc-img.png" alt="#"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products">
    <div class="main-products">
        <h2>TRENDING PRODUCTS ON CHAMB</h2>
        <div class="product-slidr">
            <div class="slider">
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="../static/images/tr1.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Table with Lights</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist
                                </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="../static/images/tr2.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist
                                </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="../static/images/tr3.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Wood Sofaplatform</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist
                                </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="../static/images/tr4.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Wall Sticker</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist
                                </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="../static/images/tr1.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist
                                </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="../static/images/tr2.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist
                                </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="../static/images/tr3.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist
                                </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
