{% extends 'base.html' %}
{% block title %}
Productpage
{% endblock %}
{% block body %}
<div class="modal fade lug" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="#"><img src="../static/images/flag-up-1.png" alt=""/> United States</a></li>
                    <li><a href="#"><img src="../static/images/flag-up-2.png" alt=""/> France </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="furniture-box">
    <div class="container">
        <div class="row">
            <div class="furniture-main">
                <h2></h2>
                <div class="col-md-3 col-sm-4">
                    <div class="furniture-left">
                        <h3>Filter Products</h3>
                        <div class="by-box">
                            <h5>By price</h5>
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="">
                            </p>
                        </div>
                        <div class="by-com">
                            <h5>By company</h5>
                            <div class="list-b">
                                <div id="boxscroll">
                                    <div class="form-check">
                                        <input id="checkbox1" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox1">
                                            Adana Cimento
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox2" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox2">
                                            Akbank
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox3" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox3">
                                            Alvimedica
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox4" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox4">
                                            Arcelik
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox5" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox5">
                                            Askam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox6" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox6">
                                            Salcano
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox7" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox7">
                                            Sedona
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox8" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox8">
                                            Sisecam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox9" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox9">
                                            Su Marine Yachts
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox10" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox10">
                                            Beko
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox11" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox11">
                                            Kale Celik Esya
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox12" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox12">
                                            Default
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input id="checkbox13" class="filled-in chk-col-blue" type="checkbox">
                                        <label for="checkbox13">
                                            Default
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-list-f">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                            class="panel-title expand">
                                            <div class="right-arrow pull-right"><span class="caret"></span></div>
                                            <a href="#">Sort by</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem ipsum dolor sit amet,</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="col-md-10 col-sm-8">
                        <div class="profile-pro-right">
                            <div class="panel with-nav-tabs panel-default">
                                <div class="panel-heading clearfix">
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active"><a href="#tab1default" data-toggle="tab">Products
                                            <span>321</span></a></li>
                                    </ul>

                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab1default">
                                            <div class="product-box-main row">
                                                {% for product in lst %}
                                                <div class="col-md-6 col-sm-8">
                                                    <div class="small-box-c">
                                                        <div class="small-img-b">
                                                            <img src="../static/images/tr1.png" alt="#"/>
                                                        </div>
                                                        <div class="dit-t clearfix">
                                                            <div class="left-ti">
                                                                <p>{{product[1]}}</p>
                                                            </div>
                                                            <a href="#" tabindex="0">{{product[2]}}₽</a>
                                                        </div>
                                                        <div class="prod-btn">
                                                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i>
                                                                {{product[0]}}</a>
                                                            <a href="#"><i class="fa fa-thumbs-up"
                                                                           aria-hidden="true"></i>Like</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="loding-box">
                    <a href="#">
                        <div class="sk-wave">
                            <div class="sk-rect sk-rect1"></div>
                            <div class="sk-rect sk-rect2"></div>
                            <div class="sk-rect sk-rect3"></div>
                            <div class="sk-rect sk-rect4"></div>
                            <div class="sk-rect sk-rect5"></div>
                        </div>
                        <span>Loding more awesome products...</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}